*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.bg-container{
    background-image: url(codingbg.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    color:#00000080;
    background-repeat: no-repeat;
}
h1{
    background-color: #00000080;
    color: white;
    padding: 30px;
    font-weight: 500;
    font-family: "Bree Serif";
    border: #48ee59 solid 5px;
    margin: auto;
    text-align: left;
    width: 60%;
    font-size: 45px;
}